.footer__copyright {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    justify-self: end;
}

@media screen and (max-width: 767px ) {
    .footer__copyright {
        justify-self: stretch;
        align-self: end;
        margin-top: 16px;
    }
}