.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(74px, 1fr));
    justify-content: space-between;
    max-width: 1184px;
    row-gap: ;
    margin: 92px auto 24px;
}

@media screen and (max-width: 1184px ) {
    .footer {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 1023px ) {
    .footer {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
}