.footer {
    display: grid;
    grid-template-columns: repeat(5,max-content) 1fr;
    max-width: 1184px;
    column-gap: 18px;
    margin: 92px auto 24px;
}

@media screen and (max-width: 1184px ) {
    .footer {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 1023px ) {
    .footer {
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px ) {
    .footer {
        grid-template-rows: repeat(5, max-content) 1fr;
        grid-template-columns: 1fr;
        row-gap: 32px;
        margin-top: 64px;
    }
}
